<!-- views/partials/quote.ejs -->
<div class="border-2 border-yellow-600 rounded-md p-4 relative bg-white shadow-md">
  <p class="mb-4 text-gray-800"><%= quote.quote %></p>
  <div class="absolute bottom-2 right-3 bg-blue-600 text-white px-2 py-1 rounded-md">
    - <%= quote.author %>
  </div>
  <% if (user) { %>
    <!-- like / dislike -->
    <div class="flex space-x-2">
      <button class="like-btn" data-id="<%= quote._id %>">
        <svg class="h-8 w-8 text-green-400" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3" />
        </svg>
        <span id="like-count-<%= quote._id %>" class="text-green-400 like-count"><%= quote.likes %></span>
      </button>
      <button class="dislike-btn" data-id="<%= quote._id %>">
        <svg class="h-8 w-8 text-red-400" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17" />
        </svg>
        <span id="dislike-count-<%= quote._id %>" class="text-red-400 dislike-count"><%= quote.dislikes %></span>
      </button>
    </div>
  <% } %>

  <!-- Dropdown to show who liked , shown when user clicks on count -->
   <!-- this is for other's quotes -->
  <div id="likeDropdown-<%= quote._id %>" class="hidden absolute z-10 divide-y w-fit">
    <div class="p-2 text-center ">
      <div class="border-1">
        <div class="text-sm font-bold bg-slate-200 pb-2">People who reacted</div>
        <ul class="bg-white">
          <li class="hover:bg-slate-200">
            <button class="p-2">Unknown person 1</button>
          </li>
          <li class="hover:bg-slate-200">
            <button class="p-2">User 2</button>
          </li>
          <li class="hover:bg-slate-200">
            <button class="p-2">User 3</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown to show who disliked , shown when user click count  -->
   <!-- this is for others quotes -->
  <div id="dislikeDropdown-<%= quote._id %>" class="hidden absolute z-10 divide-y w-fit">
    <div class="p-2 text-center ">
      <div class="border-1">
        <div class="text-sm font-bold bg-slate-200 pb-2">People who reacted</div>
        <ul class="bg-white">
          <li class="hover:bg-slate-200">
            <button class="p-2">Unknown person 1</button>
          </li>
          <li class="hover:bg-slate-200">
            <button class="p-2">User 2</button>
          </li>
          <li class="hover:bg-slate-200">
            <button class="p-2">User 3</button>
          </li>
        </ul>
      </div>
    </div>
    </div>  
</div>


<script>
  document.querySelectorAll('.like-count').forEach(function(element) {
    element.addEventListener('click', function(event) {
      event.stopPropagation();
      var quoteId = this.id.replace('like-count-', '');
      var dropdown = document.getElementById('likeDropdown-' + quoteId);
      dropdown.classList.toggle('hidden');
    });
  });

  document.querySelectorAll('.dislike-count').forEach(function(element) {
    element.addEventListener('click', function(event) {
      event.stopPropagation();
      var quoteId = this.id.replace('dislike-count-', '');
      var dropdown = document.getElementById('dislikeDropdown-' + quoteId);
      dropdown.classList.toggle('hidden');
    });
  });

  //closes dropdown when clicked outside
  document.addEventListener('click', function(event) {
    document.querySelectorAll('.like-count').forEach(function(element) {
      var quoteId = element.id.replace('like-count-', '');
      var dropdown = document.getElementById('likeDropdown-' + quoteId);
      if (!dropdown.classList.contains('hidden')) {
        dropdown.classList.add('hidden');
      }
    });

    document.querySelectorAll('.dislike-count').forEach(function(element) {
      var quoteId = element.id.replace('dislike-count-', '');
      var dropdown = document.getElementById('dislikeDropdown-' + quoteId);
      if (!dropdown.classList.contains('hidden')) {
        dropdown.classList.add('hidden');
      }
    });
  });
</script>
