<nav class="bg-[#9fba29]">
  <div class="flex items-center justify-between mx-auto max-w-screen-full">
    <div class="px-3 py-3 flex space-x-2">
      <div class="text-white text-3xl font-bold pr-3">Software Quotes</div>
      <div class="flex space-x-4">
        <button class="p-3 focus:bg-slate-200 px-2 rounded-xl py-1 <%= currentPath === '/authors' ? 'bg-slate-200 text-black' : '' %>">
          <a href="/authors">Authors</a>
        </button>
        <button class="p-3 focus:bg-slate-200 px-2 rounded-xl py-1 <%= currentPath === '/' ? 'bg-slate-200 text-black' : '' %>">
          <a href="/">Home</a>
        </button>
        <button class="p-3 focus:bg-slate-200 px-2 rounded-xl py-1 <%= currentPath === '/quotes' ? 'bg-slate-200 text-black' : '' %>">
          <a href="/dashboard">Quotes</a>
        </button>
        <button class="p-3 focus:bg-slate-200 px-2 rounded-xl py-1 <%= currentPath === '/myquote' ? 'bg-slate-200 text-black' : '' %>">
          <a href="/myquote">My Quote</a>
        </button>
      </div>
    </div>
    <div class="flex space-x-2 items-center px-5 relative">
      
      <span>
        <%= user.fname %> <%= user.lname %>
      </span>
      <button id="userMenuButton" class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-slate-200 rounded-full text-black focus:outline-none">
        <%= user.fname ? user.fname[0].toUpperCase() : '' %><%= user.lname ? user.lname[0].toUpperCase() : '' %>
    </button>
      <!-- Dropdown menu -->
      <div id="userDropdown" class="absolute right-0 mt-2 w-44 bg-white divide-y divide-gray-100 rounded-lg shadow-lg hidden z-20">
        <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout</a>
      </div>
    </div>
  </div>
</nav>
<script>
  document.getElementById('userMenuButton').addEventListener('click', function() {
    const dropdown = document.getElementById('userDropdown');
    dropdown.classList.toggle('hidden');
  });

  // Close dropdown if clicked outside
  document.addEventListener('click', function(event) {
    const dropdown = document.getElementById('userDropdown');
    const button = document.getElementById('userMenuButton');
    
    if (!button.contains(event.target) && !dropdown.contains(event.target)) {
      dropdown.classList.add('hidden');
    }
  });
</script>